@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
   /
    font-family: 'Montserrat', sans-serif;
  }

  h1, h2, h3, .font-bold {
    letter-spacing: 0.02em; 
    font-feature-settings: "lnum", "pnum", "kern";
  }
}
